<footer class="footer">
    <div class="footer__top">
        <div class="footer__inner">
            <ul class="footer__nav">
                <li>
                    <a href="#">Каталог</a>
                </li>
                <li>
                    <a href="#">Оплата и доставка</a>
                </li>
                <li>
                    <a href="#">Статьи</a>
                </li>
                <li>
                    <a href="#">О компании</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
            </ul>
            
            <ul class="footer__socials">
                <li>
                    Присоеденяйтесь:
                </li>
                <li>
                    <a href="#">Youtube</a>
                </li>
                <li>
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <a href="#">ВКонтакте</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__inner">
            <small class="footer__copyright">
                &copy; 1998-2018 Стройка века
                <br/>Информация на сайте о технических характеристиках, наличии на складе, стоимости и изображениях товаров не является публичной офертой.
            </small>
        </div>
    </div>
</footer>
