<div class="header__dropdown">
    <div class="header__dropdown-title">
        <div class="header__dropdown-inner">
            Каталог продукции
        </div>
    </div>
    
    <div class="header__dropdown-inner">
        <div class="header__dropdown-content">
            <div class="header__dropdown-category">
                <svg class="icon-wire"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-wire"></use></svg>
                <span>Кабельно- проводниковая продукция</span>
            </div>
            
            <nav class="header__dropdown-list">
                
                <!--Dropdown row-->
                <div class="header__dropdown-row">
                    <div class="header__dropdown-group">Тип кабеля</div>
                    <div class="header__dropdown-nav">
                        <ul class="header__dropdown-alphabet">
                            <li class="current">
                                <a href="#">Популярные</a>
                            </li>
                            <li>
                                <a href="#">А</a>
                            </li>
                            <li>
                                <a href="#">Б</a>
                            </li>
                            <li>
                                <a href="#">В</a>
                            </li>
                            <li>
                                <a href="#">Г</a>
                            </li>
                            <li>
                                <a href="#">Д</a>
                            </li>
                            <li>
                                <a href="#">З</a>
                            </li>
                            <li>
                                <a href="#">И</a>
                            </li>
                            <li>
                                <a href="#">К</a>
                            </li>
                            <li>
                                <a href="#">Л</a>
                            </li>
                            <li>
                                <a href="#">М</a>
                            </li>
                            <li>
                                <a href="#">Н</a>
                            </li>
                            <li>
                                <a href="#">О</a>
                            </li>
                            <li>
                                <a href="#">П</a>
                            </li>
                            <li>
                                <a href="#">Р</a>
                            </li>
                            <li>
                                <a href="#">С</a>
                            </li>
                            <li>
                                <a href="#">Т</a>
                            </li>
                            <li>
                                <a href="#">У</a>
                            </li>
                            <li>
                                <a href="#">Ф</a>
                            </li>
                            <li>
                                <a href="#">Х</a>
                            </li>
                            <li>
                                <a href="#">Ц</a>
                            </li>
                            <li>
                                <a href="#">Ч</a>
                            </li>
                            <li>
                                <a href="#">Ш</a>
                            </li>
                            <li>
                                <a href="#">Э</a>
                            </li>
                            <li>
                                <a href="#">Ю</a>
                            </li>
                            <li>
                                <a href="#">Я</a>
                            </li>
                            <li>
                                <a href="#">Все</a>
                            </li>
                        </ul>
                        
                        <ul class="header__dropdown-links">
                            <li>
                                <a href="#">Кабели самонесущие</a>
                            </li>
                            <li>
                                <a href="#">Кабели сигнальные</a>
                            </li>
                            <li>
                                <a href="#">Кабели спитральные</a>
                            </li>
                            <li>
                                <a href="#">Кабели сигнальные</a>
                            </li>
                            <li>
                                <a href="#">Кабели сварочные</a>
                            </li>
                            <li>
                                <a href="#">Кабели силовые</a>
                            </li>
                            <li>
                                <a href="#">Кабели стационарные</a>
                            </li>
                            <li>
                                <a href="#">Кабели силовые</a>
                            </li>
                            <li>
                                <a href="#">Кабели связи</a>
                            </li>
                            <li>
                                <a href="#">Кабели слаботочные</a>
                            </li>
                            <li>
                                <a href="#">Кабели судовые</a>
                            </li>
                            <li>
                                <a href="#">Кабели слаботочные</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!--Dropdown row-->
                <div class="header__dropdown-row">
                    <div class="header__dropdown-group">Напряжение</div>
                    <div class="header__dropdown-nav">
                        <ul class="header__dropdown-links">
                            <li>
                                <a href="#">Кабели 1 кВ</a>
                            </li>
                            <li>
                                <a href="#">Кабели 10 кВ</a>
                            </li>
                            <li>
                                <a href="#">Кабели 30 кВ</a>
                            </li>
                            <li>
                                <a href="#">Кабели 220 кВ</a>
                            </li>
                            <li>
                                <a href="#">Кабели 6 кВ</a>
                            </li>
                            <li>
                                <a href="#">Кабели 20 кВ</a>
                            </li>
                            <li>
                                <a href="#">Кабели 110 кВ</a>
                            </li>
                            <li>
                                <a href="#">Кабели 500 кВ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!--Dropdown row-->
                <div class="header__dropdown-row">
                    <div class="header__dropdown-group">Тип жилы</div>
                    <div class="header__dropdown-nav">
                        <ul class="header__dropdown-links">
                            <li>
                                <a href="#">Кабели алюминиевые</a>
                            </li>
                            <li>
                                <a href="#">Кабели медные</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!--Dropdown row-->
                <div class="header__dropdown-row">
                    <div class="header__dropdown-group">Производитель</div>
                    <div class="header__dropdown-nav">
                        <ul class="header__dropdown-links">
                            <li>
                                <a href="#">Lapp Group</a>
                            </li>
                            <li>
                                <a href="#">Helkama</a>
                            </li>
                            <li>
                                <a href="#">Faber</a>
                            </li>
                            <li>
                                <a href="#">Cables</a>
                            </li>
                            <li>
                                <a href="#">Helukabel</a>
                            </li>
                            <li>
                                <a href="#">Kabeltec</a>
                            </li>
                            <li>
                                <a href="#">AG TKD Kabel</a>
                            </li>
                            <li>
                                <a href="#">Unika</a>
                            </li>
                            <li>
                                <a href="#">Top Cable</a>
                            </li>
                            <li>
                                <a href="#">Klaus</a>
                            </li>
                            <li>
                                <a href="#">Prakab</a>
                            </li>
                            <li>
                                <a href="#">Draka</a>
                            </li>
                            <li>
                                <a href="#">Draka</a>
                            </li>
                            <li>
                                <a href="#">Tsubaki</a>
                            </li>
                            <li>
                                <a href="#">Kabelschlepp</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!--Dropdown row-->
                <div class="header__dropdown-row">
                    <div class="header__dropdown-group">Кол-во жил</div>
                    <div class="header__dropdown-nav">
                        <ul class="header__dropdown-links">
                            <li>
                                <a href="#">Кабели одножильные</a>
                            </li>
                            <li>
                                <a href="#">Кабели трехжильные</a>
                            </li>
                            <li>
                                <a href="#">Кабели пятижильные</a>
                            </li>
                            <li>
                                <a href="#">Кабели семижильные</a>
                            </li>
                            <li>
                                <a href="#">Кабели двухжильные</a>
                            </li>
                            <li>
                                <a href="#">Кабели четырехжильные</a>
                            </li>
                            <li>
                                <a href="#">Кабели шестижильные</a>
                            </li>
                            <li>
                                <a href="#">Кабели восьмижильные</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!--Dropdown row-->
                <div class="header__dropdown-row">
                    <div class="header__dropdown-group">Тип применения</div>
                    <div class="header__dropdown-nav">
                        <ul class="header__dropdown-links">
                            <li>
                                <a href="#">Кабели для подвижного состава</a>
                            </li>
                            <li>
                                <a href="#">Кабели для воздушной прокладки</a>
                            </li>
                            <li>
                                <a href="#">Кабели для пожарной сигнализации</a>
                            </li>
                            <li>
                                <a href="#">Кабели для прокладки в земле</a>
                            </li>
                            <li>
                                <a href="#">Кабели для наружной прокладки</a>
                            </li>
                            <li>
                                <a href="#">Кабели для прогрева бетона</a>
                            </li>
                            <li>
                                <a href="#">Кабели для пожарной сигнализации</a>
                            </li>
                            <li>
                                <a href="#">Кабели для видеонаблюдения</a>
                            </li>
                            <li>
                                <a href="#">Кабели для сауны</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!--Dropdown row-->
                <div class="header__dropdown-row">
                    <div class="header__dropdown-group">Материал изоляции</div>
                    <div class="header__dropdown-nav">
                        <ul class="header__dropdown-links">
                            <li>
                                <a href="#">Кабели c бумажной изоляцией</a>
                            </li>
                            <li>
                                <a href="#">Кабели с изоляцией из сшитого полиэтилена</a>
                            </li>
                            <li>
                                <a href="#">Кабели с пластмассовой изоляцией</a>
                            </li>
                            <li>
                                <a href="#">Кабели с резиновой изоляцией</a>
                            </li>
                            <li>
                                <a href="#">Кабели силиконовые</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!--Dropdown row-->
                <div class="header__dropdown-row">
                    <div class="header__dropdown-group">Материал оболочки</div>
                    <div class="header__dropdown-nav">
                        <ul class="header__dropdown-links">
                            <li>
                                <a href="#">Кабели в резиновой оболочке</a>
                            </li>
                            <li>
                                <a href="#">Кабели свинцовые</a>
                            </li>
                        </ul>
                    </div>
                </div>
            
            </nav>
        </div>
    </div>
</div>