<div class="header__mobile active">
    <div class="header__mobile-contacts">
        <div class="header__mobile-location">
            <div class="header__mobile-location-trigger">
                <svg class="icon-location"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location"></use></svg>
                Москва
            </div>
            <ul class="header__mobile-location-list">
                <li>Города</li>
                <li>
                    <a href="#">Город 2</a>
                </li>
                <li>
                    <a href="#">Город 3</a>
                </li>
                <li>
                    <a href="#">Город 4</a>
                </li>
                <li>
                    <a href="#">Город 5</a>
                </li>
            </ul>
        </div>
        <a href="tel:74956423853" class="header__mobile-phone call-to">+7 (495) 642-38-53</a>
    </div>
    
    <div class="header__mobile-categories">
        <div class="header__mobile-categories-value">Кабельно-проводниковая продукция</div>
        <ul class="header__mobile-categories-list">
            <li>Все направления</li>
            <li>
                <a href="#">Кабеля</a>
            </li>
            <li>
                <a href="#">Стройматериалы</a>
            </li>
            <li>
                <a href="#">Столярные изделия</a>
            </li>
            <li>
                <a href="#">Напольные покрытия</a>
            </li>
            <li>
                <a href="#">Электротовары</a>
            </li>
            <li>
                <a href="#">Инструменты</a>
            </li>
            <li>
                <a href="#">Плитка</a>
            </li>
            <li>
                <a href="#">Сантехника</a>
            </li>
            <li>
                <a href="#">Водоснабжение</a>
            </li>
            <li>
                <a href="#">Краски и лаки</a>
            </li>
            <li>
                <a href="#">Обои</a>
            </li>
            <li>
                <a href="#">Освещение</a>
            </li>
        </ul>
    </div>
    
    <nav class="header__mobile-nav">
        <div class="header__mobile-scroll">
            <div class="header__mobile-content">
                <div class="header__mobile-title">Каталог продукции</div>
                
                <!--Main nav-->
                <ul class="header__mobile-nav-main">
                    <li class="header__mobile-nav-item">Тип кабеля</li>
                    <li class="header__mobile-nav-item">Напряжение</li>
                    <li class="header__mobile-nav-item">Тип жилы</li>
                    <li class="header__mobile-nav-item">Производитель</li>
                    <li class="header__mobile-nav-item">Тип применения</li>
                    <li class="header__mobile-nav-item">К-во жил</li>
                    <li class="header__mobile-nav-item">Материал изоляции</li>
                    <li class="header__mobile-nav-item">Материал оболочки</li>
                </ul>
                
                <!--Subnav-->
                <div class="header__mobile-subnav">
                    <div class="header__mobile-subnav-column">
                        <div class="header__mobile-back">Тип кабеля</div>
                        <ul class="header__mobile-subnav-list">
                            <li>
                                <div class="header__mobile-subnav-trigger">Популярные</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели сигнальные</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели спитральные</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели сигнальные</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели сварочные</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели силовые</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели стационарные</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели силовые</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели связи</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели слаботочные</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели судовые</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели слаботочные</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">А</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели сигнальные</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Б</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели силовые</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели стационарные</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели силовые</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">В</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Г</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели сигнальные</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели сварочные</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Д</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели слаботочные</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">З</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели слаботочные</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели судовые</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели слаботочные</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">И</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели судовые</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели слаботочные</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">К</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Л</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели сигнальные</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">М</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели слаботочные</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели судовые</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели слаботочные</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Н</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели стационарные</a>
                                    </li>
                                    <li>
                                        <a href="#">Кабели силовые</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">О</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">П</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Р</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">С</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Т</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">У</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Ф</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Х</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Ц</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Ч</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Ш</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Э</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Ю</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Я</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="header__mobile-subnav-trigger">Все</div>
                                <ul class="header__mobile-subnav-content">
                                    <li>
                                        <a href="#">Кабели самонесущие</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="header__mobile-subnav-column">
                        <div class="header__mobile-back">Напряжение</div>
                        <ul class="header__mobile-subnav-list">
                            <li>
                                <a href="#">Кабели 1 кВ</a>
                            </li>
                            <li>
                                <a href="#">Кабели 10 кВ</a>
                            </li>
                            <li>
                                <a href="#">Кабели 30 кВ</a>
                            </li>
                            <li>
                                <a href="#">Кабели 220 кВ</a>
                            </li>
                            <li>
                                <a href="#">Кабели 6 кВ</a>
                            </li>
                            <li>
                                <a href="#">Кабели 20 кВ</a>
                            </li>
                            <li>
                                <a href="#">Кабели 110 кВ</a>
                            </li>
                            <li>
                                <a href="#">Кабели 500 кВ</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="header__mobile-subnav-column">
                        <div class="header__mobile-back">Тип жилы</div>
                        <ul class="header__mobile-subnav-list">
                            <li>
                                <a href="#">Кабели алюминиевые</a>
                            </li>
                            <li>
                                <a href="#">Кабели медные</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="header__mobile-subnav-column">
                        <div class="header__mobile-back">Производитель</div>
                        <ul class="header__mobile-subnav-list">
                            <li>
                                <a href="#">Lapp Group</a>
                            </li>
                            <li>
                                <a href="#">Helkama</a>
                            </li>
                            <li>
                                <a href="#">Faber</a>
                            </li>
                            <li>
                                <a href="#">Cables</a>
                            </li>
                            <li>
                                <a href="#">Helukabel</a>
                            </li>
                            <li>
                                <a href="#">Kabeltec</a>
                            </li>
                            <li>
                                <a href="#">AG TKD Kabel</a>
                            </li>
                            <li>
                                <a href="#">Unika</a>
                            </li>
                            <li>
                                <a href="#">Top Cable</a>
                            </li>
                            <li>
                                <a href="#">Klaus</a>
                            </li>
                            <li>
                                <a href="#">Prakab</a>
                            </li>
                            <li>
                                <a href="#">Draka</a>
                            </li>
                            <li>
                                <a href="#">Draka</a>
                            </li>
                            <li>
                                <a href="#">Tsubaki</a>
                            </li>
                            <li>
                                <a href="#">Kabelschlepp</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="header__mobile-subnav-column">
                        <div class="header__mobile-back">Кол-во жил</div>
                        <ul class="header__mobile-subnav-list">
                            <li>
                                <a href="#">Кабели одножильные</a>
                            </li>
                            <li>
                                <a href="#">Кабели трехжильные</a>
                            </li>
                            <li>
                                <a href="#">Кабели пятижильные</a>
                            </li>
                            <li>
                                <a href="#">Кабели семижильные</a>
                            </li>
                            <li>
                                <a href="#">Кабели двухжильные</a>
                            </li>
                            <li>
                                <a href="#">Кабели четырехжильные</a>
                            </li>
                            <li>
                                <a href="#">Кабели шестижильные</a>
                            </li>
                            <li>
                                <a href="#">Кабели восьмижильные</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="header__mobile-subnav-column">
                        <div class="header__mobile-back">Тип применения</div>
                        <ul class="header__mobile-subnav-list">
                            <li>
                                <a href="#">Кабели для подвижного состава</a>
                            </li>
                            <li>
                                <a href="#">Кабели для воздушной прокладки</a>
                            </li>
                            <li>
                                <a href="#">Кабели для пожарной сигнализации</a>
                            </li>
                            <li>
                                <a href="#">Кабели для прокладки в земле</a>
                            </li>
                            <li>
                                <a href="#">Кабели для наружной прокладки</a>
                            </li>
                            <li>
                                <a href="#">Кабели для прогрева бетона</a>
                            </li>
                            <li>
                                <a href="#">Кабели для пожарной сигнализации</a>
                            </li>
                            <li>
                                <a href="#">Кабели для видеонаблюдения</a>
                            </li>
                            <li>
                                <a href="#">Кабели для сауны</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="header__mobile-subnav-column">
                        <div class="header__mobile-back">Материал изоляции</div>
                        <ul class="header__mobile-subnav-list">
                            <li>
                                <a href="#">Кабели c бумажной изоляцией</a>
                            </li>
                            <li>
                                <a href="#">Кабели с изоляцией из сшитого полиэтилена</a>
                            </li>
                            <li>
                                <a href="#">Кабели с пластмассовой изоляцией</a>
                            </li>
                            <li>
                                <a href="#">Кабели с резиновой изоляцией</a>
                            </li>
                            <li>
                                <a href="#">Кабели силиконовые</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="header__mobile-subnav-column">
                        <div class="header__mobile-back">Материал оболочки</div>
                        <ul class="header__mobile-subnav-list">
                            <li>
                                <a href="#">Кабели в резиновой оболочке</a>
                            </li>
                            <li>
                                <a href="#">Кабели свинцовые</a>
                            </li>
                        </ul>
                    </div>
                
                </div>
            
            </div>
        </div>
    </nav>
</div>
<div class="header__mobile-close"></div>