@import "components/variables";
@import "components/reset";
@import "components/mixins";
@import "components/form-elements";
@import "components/typical-elements";
@import "components/header";
@import "components/mobile-nav";
@import "components/buttons";
@import "components/ptoduct";
@import "components/page-nav";
@import "components/breadcrumbs";
@import "components/content-table";
@import "components/text-block";
@import "components/order-form";
@import "components/footer";
@import "components/modal";
@import "components/slider";

@media only screen and (max-width: 1343px) {
    pre {
        page-break-inside: avoid;
    }
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    
    a,
    a:visited {
        text-decoration: underline;
    }
    
    pre,
    blockquote {
        border: 1px solid #000000;
        page-break-inside: avoid;
    }
    
    thead {
        display: table-header-group;
    }
    
    tr,
    img {
        page-break-inside: avoid;
    }
    
    img {
        max-width: 100% !important;
    }
    
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    
    h2,
    h3 {
        page-break-after: avoid;
    }
    
    header,
    footer {
        position: static;
    }
    
    .main {
        padding: 100px 0 !important;
    }
}
